<partial title="Charts" ng-controller="chartController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Playlist Charts</h1>
        </div>
    </div>

    <div class="playlists row">
        <div ng-repeat="playlist in playlists" ng-controller="playlistController" ng-init="init(playlist)">
            <div class="display-playlist"></div>
        </div>
        <div class="col-lg-12" ng-show="!playlists.length">
            <h3>There are no playlists yet :(</h3>
        </div>
    </div>
</partial>