<div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 track-cell">
        <a href="/playlist/{{playlist._id}}">
            <div class="thumbnail rl-overlay">
                <div>
                    <div class="track-thumbnail ratio-box r2-1">
                        <div class="content">
                            <img src="{{playlist.thumbnail || '/images/default-thumbnail-playlist.png'}}" />
                        </div>
                    </div>
                    <div class="meta">
                        <div class="title">
                            <h5>{{playlist.title}}</h5>
                        </div>
                        <div class="author">
                            by {{ownerInstance | username}}
                        </div>
                        <div class="info">
                            {{tracks.length | tracksCount}}, {{playlist.likes.length | likesCount}}
                        </div>
                    </div>
                    <div class="play-overlay overlay">
                        <i class="fa fa-folder-open"></i>
                    </div>
                </div>
            </div>
        </a>
        <div>
            <div ng-show="playlist.owner !== me._id">
                <a class="btn btn-default" ng-click="like()" ng-show="!liked">Like</a>
                <a class="btn btn-default" ng-click="dislike()" ng-show="liked">Dislike</a>
            </div>
            <a class="btn btn-default" ng-click="edit()" ng-show="playlist.owner === me._id">Edit</a>
        </div>
    </div>
</div>