<div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 track-cell">
        <div class="thumbnail rl-overlay">
            <div>
                <div class="track-thumbnail ratio-box r2-1" style="overflow: hidden;">
                    <div class="content">
                        <img style="width: 100%; height: auto;" src="{{playlist.thumbnail || '/images/default-thumbnail.png'}}" />
                    </div>
                </div>
                <div class="meta">
                    <div class="title">
                        <h5>{{playlist.title}}</h5>
                    </div>
                    <div class="author">
                        by {{ownerInstance | username}}
                    </div>
                    <div class="info">
                        {{playlist.tracks.length | tracksCount}}, {{playlist.likes.length | likesCount}}
                    </div>
                </div>
                <div class="play-overlay overlay">
                    <div class="arrow-right"></div>
                </div>
            </div>
        </div>
        <div>
            <div ng-show="playlist.owner !== me._id">
                <a class="btn btn-default" ng-click="like()" ng-show="!liked">Like</a>
                <a class="btn btn-default" ng-click="dislike()" ng-show="liked">Dislike</a>
            </div>
            <a class="btn btn-default" ng-click="edit()" ng-show="playlist.owner === me._id">Edit</a>
        </div>
    </div>
</div>