<partial title="Playlist" ng-controller="playlistController" id="partial-playlist">
    <div class="row">
        <div class="col-lg-12">
            <div ng-show="tracks">
                <div class="pull-right" ng-show="playlist.owner !== me._id">
                    <a class="btn btn-danger btn-lg" mobile-class="btn-lg" ng-click="dislike()" ng-show="liked">
                        <i class="fa fa-heart-o"></i>
                    </a>
                    <a class="btn btn-default btn-lg" mobile-class="btn-lg" ng-click="like()" ng-show="!liked">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
                <a class="btn btn-default btn-lg pull-right" ng-click="edit()" ng-show="playlist.owner === me._id">
                    <i class="fa fa-edit"></i>
                </a>
             </div>
            <h1 class="page-header">{{playlist.title}}</h1>
            <a href="/profile/{{ownerInstance._id}}" ng-show="me._id !== ownerInstance._id"><h5 class="owner">by {{ownerInstance | username}}</h5></a>
        </div>
    </div>
    <div ng-show="tracks">
        <div class="results row">
            <div class="display-track display-{{t.provider}}" ng-repeat="t in tracks" track="t" i="$index" playlist="tracks" source-url="/playlist/{{playlist._id}}"></div>
        </div>
        <div class="col-lg-12" ng-show="tracks.length === 0">
            <h3>That's an empty playlist! :(</h3>
        </div>
    </div>
    <div class="col-lg-12" ng-show="!tracks">
        <h3>Loading, please stand by..</h3>
    </div>
</partial>