<!DOCTYPE html>
<html ng-app="revo-list" lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/css/sb-admin-2.css" rel="stylesheet">
    <link href="/style/dist/app/main.css" rel="stylesheet">
    <link href="/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/style/css/social-buttons.css" rel="stylesheet" type="text/css" />

    <link href="/js/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-controller="appController">

    <!-- FACEBOOK SDK -->
    <script>

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>

    <!-- YOUTUBE SDK -->
    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady(){
            YT.revo_isReady = true;
        }

    </script>




    <div id="wrapper">

        <!-- HEADER -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="width: 100%">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a class="navbar-brand" href="/">[revoList]</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right;">
                        <div style="padding: 15px">Hey {{currentUser.firstName}}!</div>
                    </div>
                </div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="sidebar-search">
                    <form ng-submit="save()">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" ng-model="searchQuery" placeholder="Search for tracks, playlists and people" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-click="search()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>

        <!-- VIEW PLACEHOLDER -->
        <div ng-view id="page-wrapper"></div>

    </div> <!-- #wrapper -->

    <div id="player" class="player-ui"></div>

    <!-- SCRIPTS -->
    <div>
        <!-- APIs -->
        <script type="text/javascript" src="/js/lib/soundcloud-api.js"></script>

        <!-- base -->
        <script type="text/javascript" src="/js/bower_components/modernizr/modernizr.js"></script>
        <script type="text/javascript" src="/js/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/js/bower_components/bootstrap/dist/js/bootstrap.js"></script>

        <!-- libs -->
        <script type="text/javascript" src="/js/bower_components/jquery-bridget/jquery.bridget.js"></script>
        <script type="text/javascript" src="/js/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
        <script type="text/javascript" src="/js/bower_components/jquery.cookie/src/jquery.cookie.js"></script>


        <!-- theme plugins -->
        <!-- Metis Menu Plugin JavaScript -->
        <!--<script type="text/javascript" src="/js/lib/plugins/metisMenu/metisMenu.min.js"></script>-->

        <!-- Morris Charts JavaScript -->
        <!--<script type="text/javascript" src="/js/lib/plugins/morris/raphael.min.js"></script>
        <script type="text/javascript" src="/js/lib/plugins/morris/morris.min.js"></script>
        <script type="text/javascript" src="/js/lib/plugins/morris/morris-data.js"></script>-->

        <!-- theme base -->
        <!--<script type="text/javascript" src="js/lib/sb-admin-2.js"></script>-->


        <!-- modules -->
        <script type="text/javascript" src="/js/bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/js/bower_components/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <!-- ANGULARJS APP -->
        <script type="text/javascript" src="/js/dist/app.min.js"></script>
    </div>

</body>
</html>