#player{
  background-color: #333;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 15px;

  .player-container{
    position: absolute;
  }

  .progress{
    margin-bottom: 5px;
    height: 3px;
  }

  .controls{
    text-align: center;

    div{
      height: 20px;
      width: 20px;
      border-radius: 20px;
      background-color: #fff;
      display: inline-block;
      position: relative;
      top: -5px;
      background-size: 100%;

      &.main{
        height: 30px;
        width: 30px;
        top: 0px;
      }
    }
  }
}

